   <!-- Reactive Forms-->
   <div class="container">
    <span class="close-icon" (click)="navigateToLogin()">
      <i class="fa fa-times" style="float: right"></i>
    </span>
    <div class="login form" >
      <header>Forgot Password</header>
      <form [formGroup]="otpForm" (ngSubmit)="sendOTP()">
        <input
          type="email"
          placeholder="Email"
          formControlName="email"
          required
          email
        />
        <ng-container *ngIf="email?.touched && email?.invalid">
          <div class="error">
            <ng-container *ngIf="email?.errors?.['required']">
              Email is Required
            </ng-container>
            <ng-container *ngIf="email?.errors?.['email']">
              Invalid Email
            </ng-container>
          </div>
        </ng-container>
  
        <div class="error mt-4" *ngIf="errorMessage">{{ errorMessage }}</div>
  
        <div class="mt-4">
          <a
            (click)="otpRequested ? resendOTP() : sendOTP()"
            [style.color]="'#ffb74d'"
            [class.disabled]="resendDisabled"
            [attr.disabled]="resendDisabled ? true : null"
          >
            {{ otpRequested ? "Resend OTP" : "Send OTP" }}
          </a>
          <div *ngIf="loading" class="spinner"></div>
          <ng-container *ngIf="otpRequested && countdown > 0">
            <span>{{ countdown }} seconds</span>
          </ng-container>
        </div>
  
        <ng-container *ngIf="otpRequested && !otpVerified">
          <ng-otp-input
            (onInputChange)="onOtpChange($event)"
            [config]="{ length: 6 }"
            [formControl]="otpControl"
            [disabled]="otpVerified"
            placeholder="Enter OTP"
          ></ng-otp-input>
          <button
            type="button"
            class="button mt-4"
            (click)="verifyOTP()"
            [disabled]="otpControl.value.length !== 6"
          >
            Verify OTP
          </button>
        </ng-container>
      </form>
    </div>

    <!-- Parent child relation @Input() -->
    <app-passwordresetconfirm
    *ngIf="otpVerified"
    [email]="email.value"
    [otp]="otpControl.value"
  ></app-passwordresetconfirm>
  </div>


<!--reset using token -->
<!-- <div class="container">
  <span class="close-icon" (click)="navigateToLogin()">
    <i class="fa fa-times" style="float: right;"></i> 
  </span>
    <div class="login form">
      <header>Forgot Password</header>
  
      <form #passwordResetForm="ngForm" (ngSubmit)="sendResetRequest(passwordResetForm)">
        <input
          type="email"
          placeholder="Email"
          ngModel
          name="email"
          required
          email
          #email="ngModel"
        />
        <ng-container *ngIf="email.touched && !email.valid">
          <div class="error">
            <ng-container *ngIf="email.errors && email.errors['required']">Email is Required</ng-container>
            <ng-container *ngIf="email.errors && email.errors['email']">Invalid Email</ng-container>
          </div>
        </ng-container>

             <div *ngIf="loading" class="spinner"></div>
  
        <div class="error mt-4" *ngIf="errorMessage">{{ errorMessage }}</div>
  
        <div class="mt-4">
          <button type="submit" class="button" [disabled]="!passwordResetForm.valid">Submit</button>
        </div>
      </form>
    </div>
  </div> -->

 <!-- Template Driven Forms-->
<!--<div class="container">
  <span class="close-icon" (click)="navigateToLogin()">
    <i class="fa fa-times" style="float: right"></i>
  </span>
  <div class="login form">
    <header>Forgot Password</header>
   
    <form #passwordResetForm="ngForm" (ngSubmit)="sendOTP(passwordResetForm)">
      <input
        type="email"
        placeholder="Email"
        ngModel
        name="email"
        required
        email
        #email="ngModel"
      />
      <ng-container *ngIf="email.touched && !email.valid">
        <div class="error">
          <ng-container *ngIf="email.errors && email.errors['required']"
            >Email is Required</ng-container
          >
          <ng-container *ngIf="email.errors && email.errors['email']"
            >Invalid Email</ng-container
          >
        </div>
      </ng-container>

      <div class="error mt-4" *ngIf="errorMessage">{{ errorMessage }}</div>

      <div class="mt-4">
        <a
          (click)="otpRequested ? resendOTP() : sendOTP(passwordResetForm)"
          [style.color]="'#ffb74d'"
          [class.disabled]="resendDisabled"
          [attr.disabled]="resendDisabled ? true : null"
        >
          {{ otpRequested ? "Resend OTP" : "Send OTP" }}
        </a>
             <div *ngIf="loading" class="spinner"></div>
        <ng-container *ngIf="otpRequested && countdown > 0">
          <span>{{ countdown }} seconds</span>
        </ng-container>
      </div>

  
      <ng-container *ngIf="otpRequested && !otpVerified">
        <ng-otp-input
          (onInputChange)="onOtpChange($event)"
          [config]="{ length: 6 }"
          [ngModel]="otp"
          name="otp"
          [disabled]="otpVerified"
          placeholder="Enter OTP"
        ></ng-otp-input>
        <button
          type="button"
          class="button mt-4"
          (click)="verifyOTP()"
          [disabled]="otp.length !== 6"
        >
          Verify OTP
        </button>
      </ng-container>
    </form> 

  
  </div>
</div>-->